# Configuração do Banco de Dados e JWT
DATABASE_URL=mongodb://engsguilhermevieira_db_user:GJiY1s6dANVYBb8z@ac-jmnedzg-shard-00-00.bstpphz.mongodb.net:27017,ac-jmnedzg-shard-00-01.bstpphz.mongodb.net:27017,ac-jmnedzg-shard-00-02.bstpphz.mongodb.net:27017/projeto_anjos?ssl=true&authSource=admin&appName=Cluster0
JWT_SECRET=projeto-anjos-secret-key-2026
PORT=4000
CORS_ORIGIN=*
