# Banco de dados local (Docker):
# DATABASE_URL="mongodb://localhost:27017/projeto_anjos"
# Banco de dados de produção/nuvem (Atlas):
DATABASE_URL="mongodb://engsguilhermevieira_db_user:GJiY1s6dANVYBb8z@ac-jmnedzg-shard-00-00.bstpphz.mongodb.net:27017,ac-jmnedzg-shard-00-01.bstpphz.mongodb.net:27017,ac-jmnedzg-shard-00-02.bstpphz.mongodb.net:27017/projeto_anjos?ssl=true&authSource=admin&appName=Cluster0"
JWT_SECRET="troque-esta-chave-super-secreta"
PORT=4000
CORS_ORIGIN="http://localhost:3000"
ADMIN_EMAIL="admin@anjosinocentes.org.br"
ADMIN_PASSWORD="admin123"
ADMIN_NAME="Administrador"
ADMIN_FORCE="false"
